.bodyContainer {
    max-width: 1366px;
    display: block;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
/* .publicationArticles{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);                      /* Відстань між елементами */
    /* list-style-type: none;
    padding-bottom: 108px;
    width: 100%; */
 /* }  */
.bodyContainer h1{
    font-family: Raleway,sans-serif;
    font-size: 56.22px;
    font-weight: 800;
    line-height: 66.01px;
    text-align: center;
    color: #044FB1;
    padding-top: 56px;
    padding-bottom: 49px;
}

.articlesList{
    /* background: #E0E8F2B0;
    width: 375px;
    height: 274px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: left;
    margin: 30px; */

        display: flex;
        flex-wrap: wrap;
        margin: -15px;




}

