
.bodyContainer h1{
    font-family: Raleway,sans-serif;
    font-size: 56.22px;
    font-weight: 800;
    line-height: 66.01px;
    text-align: center;
    color: #044FB1;
    padding-top: 56px;
    padding-bottom: 49px;
}

.searchPublication {
    background-color: #325b8e;
    max-width: 100%;
    height: 186px;
}

.searchHeader {
    font-size: 32px;
    font-weight: 800;
    line-height: 37.57px;
    text-align: center;
    color: var(--w, #FFFFFF);
    padding-top: 20px;
}

.centeredForm {
    justify-content: center;
}

.articlesList{
/* display: grid;
    max-width: calc(100vw - 170px);
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    grid-gap: 84px;
    padding: 0;
    list-style: none;
    margin: 1% auto 80px; */

        /* background: #E0E8F2B0;
        width: 375px;
        height: 274px;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.07px;
        text-align: left;
        margin: 60px;
        margin: 30px; */

display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 85px;
    list-style: none;
    padding-left: 0;
}
