
.bodyContainer h1{
    font-family: Raleway,sans-serif;
    font-size: 56.22px;
    font-weight: 800;
    line-height: 66.01px;
    text-align: center;
    color: #044FB1;
    padding-top: 56px;
    padding-bottom: 49px;
}

.searchPublication {
    background-color: #325b8e;
}

.searchHeader {
    font-size: 32px;
    font-weight: 800;
    line-height: 37.57px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}

.allArticlesHeader {
    margin: 50px auto;
    color: var(--background-header-footer);
    font-weight: 800;
    font-size: 56px;
    text-align: center;
}

.centeredForm {
    justify-content: center;
}

@media(max-width: 1023px) {
    .allArticlesHeader {
        margin: 20px auto;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .centeredForm {
        text-align: center;
    }
}

@media(min-width: 1199px){
    .searchPublication {
      height: 186px;
      text-align: center;
    }
}

