.articleItem {
  width: 100%;
  padding: 30px;
  list-style: none;
  background-color: #E0E8F2;
  line-height: 26px;

  /* @media screen and (min-width: 1900px) { */
    height: 385px;

    &:not(:last-child) {
      margin-right: 30px;
     }
}


.articleTitle {
  margin-bottom: 30px;
  @media screen and (min-width: 1400px) {
   min-height: 78px;
  }
}

.authorArticle {
  font-weight: 600;
  margin-bottom: 30px;
}

.authorArticle span {
     font-weight: 400;
  }

.textArticle{
    font-weight: 400;
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  .readMoreButton {
    width: 304px;
    height: 56px;
    font-weight: 400px;
    border: 3px solid #FFB109;

    display: block;
    margin: 0 auto;
  }