.articlesList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 85px;
  @media screen and (min-width: 1200px) {
     padding: 20px;
    }
}

.articleItem {
  width: 100%;
  padding: 30px;
  background-color: #E0E8F2;
  line-height: 26px;
  font-size: 20px;
  height: 385px;

  @media screen and (min-width: 1201px) {
    &:not(:last-child) {
        margin-right: 30px;
      }
  }

}


.articleTitle {
  margin-bottom: 30px;
  @media screen and (min-width: 1400px) {
   min-height: 78px;
  }
}

.authorArticle {
  font-weight: 600;
  margin-bottom: 30px;
}

.authorArticle span {
     font-weight: 400;
}

.textArticle, .articleTitle {
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.textArticle{
    font-weight: 400;
    margin-bottom: 20px;
    width: 100%;
  }

  .readMoreButton {
    width: 304px;
    height: 56px;
    font-weight: 400;
    background-color: #FFB109;
    border: transparent;

    display: block;
    margin: 0 auto;
  }

  @media(max-width: 1024px){
    .articlesList li + li {
      margin-top: 20px;
    }

    .articleItem {
      max-width: 375px;
      height: 245px;
      padding: 20px;
      font-size: 14px;
      line-height: 19px;
    }

    .articleTitle, .authorArticle {
      font-weight: 600;
      margin-bottom: 15px;
    }

    .textArticle {
      margin-bottom: 15px;

    }

    .readMoreButton {
      height: 46px;
    }
  }

  @media(min-width: 1024px)and (max-width: 1200px) {
    .articlesList li+li {
        margin-top: 20px;
    }

    .articleItem {
      max-width: 527px;
      height: 385px;
      padding: 30px;
      line-height: 26px;
    }

    .articleTitle, .authorArticle {
      margin-bottom: 31px;
    }

    .textArticle {
      margin-bottom: 31px;
      line-height: 26px;
    }

    .readMoreButton {
      height: 78px;
      width: 427px;
    }
  }

  @media(max-width: 1200px) {
    .articlesList {
      display: block;
    }

    .articleItem{
      margin-left: auto;
      margin-right: auto;
    }
  }