:root {
  --primary-font-family: Arial, sans-serif;
  --footer-font-family: "Roboto", sans-serif;
  --hero-color: #ffffff;
  --primary-color: #343a40;
  --secondary-color: #adb5bd;
  --step-color: #7ba2bc;
}


/* Global styles */
body {
    font-family: var(--primary-font-family);
    line-height: 1.6;
}

/* Header styles */
.navbar {
    background-color: var(--primary-color); /* dark grey */
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--hero-color); /* white */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--secondary-color); /* light grey */
}

#active-link {
  color: var(--secondary-color) !important;
  text-decoration: underline;
}


/* Main content styles */
.jumbotron {
    background-color: var(--step-color); /* blue */
    color: var(--hero-color); /* white */
}

.news {
    margin-top: 40px;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: var(--step-color); /* blue */
}

.card-text {
    color: var(--primary-color); /* dark grey */
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}
.search-bar .form-control {
    width: 500px;
    max-width: 100%;
}

/* Footer styles */
footer {
    font-family: var(--footer-font-family);
    margin-top: 40px;
    background-color: var(--primary-color); /* dark grey */
    color: var(--hero-color); /* white */
}
