.buttonBackToArticles {
	margin: 65px 0 62px 112px;
	width: 427px;
	font-family: Open Sans, sans-serif;
	font-size: 28px;
	font-weight: 700;
	line-height: 19px;
	text-align: left;
	background-color: #FFB109;
	border: 1px solid #000000;
	display: flex;
	gap: 11px;
	align-items: center;
}

.linkBack {
	padding: 20px 25px;
}


.buttonBackSvg {
	width: 41px;
	height: 23px;

	margin-right: 16px;
}
 @media(max-width: 768px){
	.buttonBackToArticles {
		margin: 45px 0 16px 35px;
		width: 219px;
		font-size: 14px;
	}

	.linkBack {
		padding: 14px 18px 15px 21px;
	}

	.buttonBackSvg {
		width: 20px;
		height: 11px;

		margin-right: 11px;
	}

 }

 @media(min-width: 769px) and (max-width: 1199px) {
	.buttonBackToArticles {
		margin: 54px 0 47px 90px;
	}
 }
