.Container{
	background-color: var(--background-header-footer);
}
.headerContainer {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-color: var(--background-header-footer);
	align-items: center;
	color: white;
}

.pageNavigation {
	margin-left: auto;
	align-items: center;
}


.pageNavigation a + a {
	margin-left: 20px;
}

.pageNavigation a {
	display: inline-block;
}

.pageNavigation a:hover,
.pageNavigation a:focus{
	color: aquamarine;
}

.pageNavigation a:focus {
	border: 1px solid aquamarine;
}

.menuButton{
	border: none;
}

@media(min-width: 390px) {
.mainHeader {
	margin-left: 0;
}

.logo {
	height: 44px;
	width: 67px;
	margin-left: 0;
}

}

@media(max-width: 411px){
	.logo {
		width: 48px;
	}

	.menuButton {
		padding: 0;
		width: 38px;
	}
}

@media(max-width:1023px){
	.headerContainer{
		height: 100%;
	}
	.pageNavigation{
		padding: 15px 0;
		background-color: var(--background-header-footer);
		width: 100%;
		position: absolute;
		top:100%;
		left: 0;
	}
	.pageNavigation a+a {
		padding-top: 15px;
		margin: 0;
	}

	.mainHeader {
		font-size: 14px;
	}
}

@media(min-width: 1024px){
	.mainHeader {
		margin-left: 20px;
		font-size: 16px;
		padding-top: 8px;
	}

	.headerContainer {
		height: 76px;
	}

	.logo {
		height: 67px;
		width: 67px;
		/* margin-left: 41px; */
		margin-top: 8px;
	}
}



