:root {
  --primary-font-family: Alegreya;
  --hero-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #badbfa;
  --step-color: #0857ff;
  
}
/* Пропустити до основного вмісту */
/* .skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1; */
/* } */


/* Global styles */
body {
    font-family: var(--primary-font-family);
    line-height: 1.6;
    color: var(--primary-color);
}

/* Header styles */
header{
    background-color: var(--secondary-color);
    height: 54px;
    
}
.logo{
    height: 44px;
    width: 50px;
}
h1{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 500;
    color: var(--step-color); 
}
h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 19.05px;
    text-align: left;

}
h3{
    font-size: 24px;
    font-weight: medium;
    color: var(--step-color);
    text-align: center;
    padding: 20px;
}
h5{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: medium;
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--primary-color); 
    font-size: 18px;
    font-weight: medium;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--step-color);
}

#active-link {
  color: var(--step-color);
  text-decoration: underline;
  font-weight: 600;
}


/* Main content styles */
.greeting {
    background-color: #eeeef0;
    height: 198px;
}
.greeting-img{
    width: 417px;
    height: 198px;
}
.greeting-text{
    font-size: 14px;
    font-weight: medium;
}
.greeting-list{
    font-size: 14px;
    font-weight: medium;
    line-height: 19.05px;
    text-align: left;

}
.news {
    margin-top: 40px;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    
}

.card-title {
    color: var(--step-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 27.22px;
    text-align: center;

}

.card-text {
    color: var(--primary-color); /* dark grey */
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}
.search-bar .form-control {
    width: 500px;
    max-width: 100%;
}

/* Footer styles */
footer {
    font-family: var(--footer-font-family);
    margin-top: 40px;
    background-color: var(--secondary-color); /* dark grey */
    color: var(--primary-color); /* white */
}
