.bodyContainer {
	max-width: 1920px;
	display: block;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.skipLink {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: black;
	color: white;
	opacity: 0;
}

.skipLink:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}