.bodyContainer {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.facultyLife {
  color: var(--background-header-footer);
  text-align: center;
  font-size: 24px;
  font-weight: medium;
  padding-top: 20px;
  padding-bottom: 39px;
}

.cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 67px;
}

.card {
  margin: 0 10px;
  list-style-type: none;
  text-align: center;
}

.card h5 {
  font-size: 18px;
  margin: 10px 0;
}
.card img{
  width: 305px;
  height: 180px;
  border: 1px solid #ddd;
}
.card p{
  height: 57px;
  width: 305px;
  font-size: 14px;
  font-weight: medium;
  margin-top: 30px;
  text-align: start;
}