.bodyContainer {
  max-width: 1366px;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.facultyLife  h1 {
  color: var(--background-header-footer);
  text-align: center;
  padding-top: 30px;
  font-size: 33.64px;
  font-weight: 800;
  line-height: 39.49px;


}

.cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card {
  margin: 0 40px;
  text-align: center;
}

.card h2 {
  font-family: Raleway, sans-serif;
  margin: 20px 0;
  font-size: 22.43px;
  font-weight: 600;
  line-height: 26.33px;
  text-align: center;
  }
.card img{
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
 
}
.card p{
  /* height:48px;
  width: 420px; */
  
  font-weight: 500;
  text-align: justify;
  margin-top: 7px;
  font-family: Raleway;
  font-size: 21px;
  line-height: 24.65px;
  
  

}

@media (min-width: 700px) and (max-width: 1320px) {
  .facultyLife{
    padding: 0 10px;
  }
  .facultyLife  h3 {
  padding-top: 20px;
  font-size: 33.64px;
  line-height: 39.49px;
  text-align: center;
  }
  .cards{
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  .card h5{
    margin: 30px 0;
    font-size: 22.43px;
    line-height: 26.33px;
    text-align: center;
  }
  .card img{
    width: 80% ;
    height: auto;
    }
    .card p{
      font-size: 21px;
      line-height: 24.65px;
      text-align: justify;
      width: 80%;
      height: auto;
      margin: auto;
      padding-top: 22px;
      }
}



@media(max-width: 700px){
  .facultyLife{
    padding: 0 10px;
  }
  .facultyLife  h3 {
    font-size: 20px;
    line-height: 23.48px;
    font-weight: 800;
    padding-top: 20px;
  
  }
  .card h5 {
    margin: 15px 0;
    font-size: 18px;
    line-height: 21.13px;
  }

.card p{
    font-size: 12px;
    line-height: 14.09px;
    text-align: justify;
    width: 100%;
    height: auto;
    }

  .cards{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
  }

  .card img{
  width: 100%;
  height: auto;
  }
  .card p{
    max-width: 100%;
  }
}


