
.searchResults {
	font-family: Open Sans, sans-serif;
	font-size: 19.68px;
	font-weight: 400;
	line-height: 26.8px;
	text-align: center;
	margin-bottom: 42px;
}


@media(min-width: 769px) and (max-width: 1199px) {
	.searchResultsHeader {
		font-size: 56px;
		line-height: 65px;
	}

	.searchResultsNumber {
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		margin: 25px 0 30px;
	}
}


.searchResults .searchPublicationButton {
	width: 210.83px;
	height: 78.71px;
	background-color: #D9D9D9;
	font-size: 28.11px;
	font-weight: 400;
	line-height: 38.28px;
	text-align: center;
	border: 1.41px solid #000000;
	color: #6c6c6c;
}