.completeArticle {
	font-family: Open Sans;
	font-size: 19.68px;
	font-weight: 400;
	line-height: 26.8px;
	text-align: justify;
	max-width: 1110px;
	margin: 0 auto;
}

.completeArticle h1 {
	font-family: Raleway;
	font-size: 46px;
	font-weight: 800;
	line-height: 54px;
	text-align: center;
	color: #044FB1;
	max-width: 957px;
	margin: 0 auto;
	padding-bottom: 22px;
}

.aboutArticle {
	display: flex;
	justify-content: center;

}

.completeArticle p {
	font-weight: 600;
	line-height: 26.8px;
	text-align: center;

}

.autorArticle {
	text-align: end;
	margin-right: 80px;
}

.completeArticle span {
	font-weight: 400;
}

section .articleText {
	padding-top: 20px;
	text-align: left;
	font-weight:500;
}

.downloadButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;

}

.downloadButton {
	display: flex;
	padding: 23px 34px;
	width: 427.29px;
	height: 78.71px;
	border: 1px 0px 0px 0px;
	font-family: Open Sans, sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 32.68px;
	text-align: center;
	background-color: #FFB109;
}

@media (max-width:768px){
	.completeArticle {
		padding: 0 20px;
		font-size: 14px;
		font-weight: 400;
		line-height: 19.07px;
	}
	.completeArticle h1{
		font-size: 26px;
        line-height: 30.52px;
	}
	.completeArticle p {
		font-weight: 700;
		padding: 0 50px;
	}

	section .articleText {
		font-weight: 500;
	}

	.downloadButton{
		width: 219px;
		height: 46px;
		font-size: 14px;
		font-weight: 600;
		line-height: 19.07px;
		padding: 12px 0;

	}
	.downloadButton svg{
		width: 35px;
		height: 22px;
	}
	.aboutArticle{
		display: block;
		align-items: center;

	}
	.autorArticle {
		text-align: center;
		margin: 0;
	}
}

@media (min-width:769px) and (max-width:1199px){
	.completeArticle{
		padding: 0 60px;
	}
	.completeArticle h1{
		font-size: 38px;
		line-height: 44.61px;
	}
	.aboutArticle{
		display: block;
		align-items: center;

	}
	.autorArticle {
		text-align: center;
		margin:0;
	}
	.completeArticle p{
		margin-bottom:10px ;
	}
}